<header class="mat-typography">
  <p class='directions'>
    By answering the questions below we hope to bring to your attention some of the differences between counties in Virginia
    and how that relates to the accessibility of Internet within those counties as well as the quality of the Internet
    in those counties. 
  </p>
  <p class='directions'>
    Below these questions you will find a tool that can be used to look up individual counties and compare them against others
    from Virginia. Feel free to use this to answer the questions we have given you or test your knowledge without your use of
    the tool!
  </p>
</header>
<hr>
