header {
    margin-bottom: 20px;
    
    .directions {
        font-size: 16px;
        line-height: 1.2em;
        justify-content: center;
        text-align: center;
        text-align-last: center;
    }
}