<div class='Virginia'>

</div>
<app-question-card 
    question='Which county has the highest percentage of households with internet access greater than 200 kbps?' 
    leftCountyName='Fauquier County' 
    rightCountyName='Franklin County' 
    answer='Fauquier County'>
</app-question-card>
<app-question-card 
    question='Which county has the highest population?'
    leftCountyName='Fauquier County'
    rightCountyName='Franklin County'
    answer='Fauquier County'>
</app-question-card>
<app-question-card 
    question='Which county is closer to Washington D.C?'
    leftCountyName='Fauquier County' 
    rightCountyName='Franklin County' 
    answer='Fauquier County'>
</app-question-card>
<app-question-card 
    question='Which county is more rural?'
    leftCountyName='Fauquier County' 
    rightCountyName='Franklin County' 
    answer='Franklin County'>
</app-question-card>
<app-county-comparison-card></app-county-comparison-card>