svg.VirginiaMap {
    margin: 0 auto 0 auto;
}

.Virginia {
    margin: 0 auto 0 auto;
}

svg.county-border {
    fill: none;
    stroke: #fff;
    stroke-width: 1.01px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.autocompleteDropdownContainer {
    display: flex;
    width: 100%;
}

form {
    width: 100%;

    mat-form-field {
        width: 80%;
    }
}

.countyComparisonContainer {
    display: flex;
    width: 100%;

    .firstCountyContainer {
        width: 25%;
    }

    .firstCountyDataContainer {
        width: 25%;
        border: solid 1px black;
    }

    .secondCountyContainer {
        width: 25%;
    }

    .secondCountyDataContainer {
        width: 25%;
        border: solid 1px black;
    }
}