svg.VirginiaMap {
    margin: 0 auto 0 auto;
}

.Virginia {
    width: calc(75% + 135px);
    margin: 0 auto 0 auto;
    border: solid 1px black;
}

.dataSelectionContainer {
    text-align: center;

    p {
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 16px;
    }
}