.countyComparisonCard {
    margin: 20px 0 20px 0; 
    border: solid 1px black;
    padding: 10px;
    
    .autocompleteDropdownContainer {
        display: flex;
        width: 100%;

        form {
            width: 100%;

            mat-form-field {
            width: 80%;
            }
        }

        .secondCounty-form {
            mat-form-field {
                float: right;
            }
        }
    }

   

    .countyComparisonContainer {
        display: flex;
        width: 100%;
        padding-top: 20px;

        .leftCountyContainer {
            width: 25%;
        }

        .questions {
            width: 50%;
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p:not(:first-child) {
                padding-top: 10px;
            }

            p {
                text-align: center;
                text-align-last: center;
            }
        }

        .rightCountyDataContainer {
            width: 25%;
        }
    }
}

.button {
    height: 20px !important;
}