.card {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .leftCounty {
        width: 400px;
        height: 400px;
    }

    .question {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-align-last: center;
        width: 30%;
        font-size: 30px;
        line-height: 1.2em;

        .answers {
            font-size: 16px;

            .answer {
                width: 50%;
            }
        }
    }

    .rightCounty{
        width: 400px;
        height: 400px;
    }
}