.countyComparisonCard {
    margin: 20px 0 20px 0; 
    border: solid 1px black;
    padding: 10px;

    .autocompleteDropdownContainer {
        display: flex;
        width: 100%;
    }

    form {
        width: 100%;

        mat-form-field {
            width: 80%;
        }
    }

    .secondCounty-form {
        mat-form-field {
            float: right;
        }
    }

    .countyComparisonContainer {
        display: flex;
        width: 100%;

        .firstCountyContainer {
            width: 25%;
        }

        .firstCountyDataContainer {
            width: 25%;
        }

        .secondCountyContainer {
            width: 25%;
        }

        .secondCountyDataContainer {
            width: 25%;
        }
    }
}