/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
    background: #fff;
}


mat-form-field.mat-form-field {
    border: solid 1px black;
}

mat-toolbar-row.mat-toolbar-row {
    background: #8c2d04;
}