/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
    background: #fff;
}

mat-toolbar-row.mat-toolbar-row {
    background: #8c2d04;
}

mat-button-toggle {
    height: 20px;
    padding: 0;
    min-height: 0;
}

mat-button-toggle.correct {
    background-color: green;
}

mat-button-toggle.incorrect {
    background-color: red;
}


.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 20px !important;
    font-size: 12px !important;
    height: 20px;
}